.footer {
    max-width: 1000px;
    padding: 30px 4%;
    margin: 0 auto;
}

.footer_icons {
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.footer_icons img {
    width: 30px;
    cursor: pointer;
}

.footer ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}

.footer_copy {
    color: gray;
    font-size: 14px;
}

/* Responsive */
@media(max-width: 800px) {
    .footer_icons img {
        width: 25px;
    }

    .footer ul {
        grid-template-columns: repeat(2, auto);
        gap: 8px;
        font-size: 14px;
    }
}

@media(max-width: 500px) {
    .footer_icons {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer ul {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 5px;
    }

    .footer_copy {
        text-align: center;
    }
}
