.titlecards {
    margin-top: 50px;
}

.titlecards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card {
    position: relative;
}

.card-list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

/* ---------- Responsive ---------- */
@media(max-width: 800px) {
    .titlecards {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .titlecards h2 {
        font-size: 20px;
    }

    .card-list img {
        width: 150px;
    }

    .card-list p {
        font-size: 12px;
    }
}

@media(max-width: 500px) {
    .card-list img {
        width: 120px;
    }

    .card-list p {
        font-size: 10px;
    }
}
